.AI-Gift-Ideas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb5bd;
    background-color: #2b3035;
}

.innerContainer {
    width: 60%;
    margin-top: 6rem;
}

.innerContainer-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.innerContainer-heading h1 {
    letter-spacing: 1px;
    word-spacing: 8px;
}

.innerContainer-heading p {
    letter-spacing: 0.8px;
    word-spacing: 1px;
}

.innerContainer-form h3 {
    margin: 1rem 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-group label {
    letter-spacing: 0.8px;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd;
    background-color: #212529;
    border: 1px solid #495047;
    border-radius: 0.375rem;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 4px 2px #0d6efd;
    transition: box-shadow 0.4s ease-in-out;
}

.innerContainer-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.innerContainer-button .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #0d6efd;
    border: 1px solid #495047;
    border-radius: 0.375rem;
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
    letter-spacing: 0.8px;
    word-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.innerContainer-button .btn:hover {
    background-color: #0b5ed7;
    transform: scale(1.1);
}