.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav-bg-color {
    background-color: #2b3035;
}

.logo img {
    width: 20rem;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.navlist ul a {
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #fff;
}

.navlist ul a:hover {
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #fff;
}